build/
build_cuda/
results/
third_party/
*.o
*.a
*.so
*.d
*.json
!benchmarks/scripts/*.py
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.sbatch.out
*.sbatch.err
cacheflow-*.out
cacheflow-*.err
*.swp
*.swo
__pycache__/
*.pyc
